.stay-list {
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 5px;
  padding-bottom: 7px;
  border-top: 1px solid #ebebeb;
  min-height: 70vh;
}

.filters {
  display: flex;
  gap: 10px;
  margin-top: 15px;
  margin-bottom: 30px;
}

.filters {
  & > button {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(174, 174, 174);
    border-radius: 3rem;
    padding: 6px 15px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    position: relative;

    &:active {
      transform: unset;
    }

    span {
      color: #222;
    }
  }

  label {
    display: flex;
    align-items: center;
    gap: 5px;
  }
}

.head-title {
  h1 {
    font-weight: 600;
    font-size: 32px;
    margin-inline-start: -1px;
  }
}

.head-title-visits {
  font-size: 0.7rem;
  font-weight: 300;
}

.head-banner {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  font-size: 0.8rem;
  font-weight: 500;
  margin-bottom: 20px;
  margin-top: -10px;

  span {
    font-weight: 300;
  }

  img {
    max-width: 40px;
  }
}

.price-modal::before,
.types-modal::before,
.amenities-modal::before {
  content: '';
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid rgb(255, 255, 255);
  position: absolute;
  top: -5px;
}

.price-modal,
.types-modal,
.amenities-modal {
  font-size: 0.7rem;
  letter-spacing: 0.6px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 130%;
  left: 0;
  min-width: 200px;
  border-radius: 6px;
  z-index: 10000;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.276);
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.2);
  padding: 10px;

  .button-container {
    display: flex;
    justify-content: space-evenly;
    & button:first-of-type {
      color: #525252;
      text-decoration: underline;
      padding: 10px 15px;
      border-radius: 10px;
      font-weight: 600;
      letter-spacing: 0.5px;
      background-color: rgb(255, 255, 255);
    }
    & button:last-of-type {
      color: #fff;
      padding: 10px 15px;
      border-radius: 10px;
      border: 1px solid #b0b0b0;
      font-weight: 600;
      letter-spacing: 0.5px;
      background-color: #222;
    }
  }
  // input[type='checkbox'] {
  //   // display: none;
  // }

  span {
    &.material-icons {
      cursor: pointer;
      color: #222;
      font-size: 0.7rem;
      display: none;
    }
  }
}

.head-title {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 5px;
}

.checkbox {
  display: none;
}

.price-modal {
  gap: 10px;

  input {
    height: 40px;
    font-size: 1rem;
    max-width: 90px;
    text-align: center;
    color: #222;
    border-radius: 5px;
    border: 1px solid #b0b0b0;
  }
}
.types-modal {
  & > div {
    display: flex;
    align-items: center;
    padding: 5px 0;
    gap: 10px;
  }
}
.amenities-modal {
  & > div {
    display: flex;
    align-items: center;
    padding: 5px 0;
    gap: 10px;
  }
}

.el-slider__bar {
  background-color: #b0b0b0;
}
.el-slider__button {
  border: 2px solid #dddddd;
}

@include for-mobile-layout {
  .filters {
    gap: 0;
    margin-bottom: 20px;
    margin-top: 10px;
    justify-content: space-between;
    flex-wrap: wrap;
    & > button {
      padding: 5px 12px;
      font-size: 0.7rem;
      margin-bottom: 10px;
    }
  }
  .stay-list {
    grid-template-columns: minmax(228px, 446px);

    .el-carousel__container {
      height: 244px !important;
    }
  }
  .price-modal,
  .types-modal,
  .amenities-modal {
    top: 32%;
  }

  .price-modal {
    right: 32%;
  }

  .types-modal {
    left: 35%;
  }

  .amenities-modal {
    left: 45%;
  }
}

// .el-dropdown-menu__item {
//   &:hover,
//   &:focus {
//     color: #000;
//     background-color: #fff;
//   }
// }

// .el-dropdown-menu__item:focus,
// .el-dropdown-menu__item:not(.is-disabled):hover {
//   background-color: white;
//   color: white;
// }

// .el-button {
//   &:hover,
//   &:focus,
//   &:active {
//     color: #ff385c;
//     background-color: rgb(246, 242, 242);
//     border-color: #b0b0b0;
//   }
// }

// .price-filter {
//   display: flex;
//   max-width: 310px;

//   .el-input {
//     width: 100px;
//   }
// }

// .type-list {
//   display: flex;
//   flex-direction: column;

//   .checkbox {
//     color: #b0b0b0;
//   }

//   .el-checkbox__input.is-checked + .el-checkbox__label {
//     color: #b0b0b0;
//   }
//   .el-checkbox__input.is-checked .el-checkbox__inner,
//   .el-checkbox__input.is-indeterminate .el-checkbox__inner {
//     border-color: #b0b0b0;
//     background-color: #b0b0b0;
//   }
// }
